@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Geologica;
    
}

:root {
    --bg-color:#000000;
    --second-bg-color:#263238;
    --text-color:#fff;
    --main-color:#FC4C6E;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    
}

body{
    background: linear-gradient(#000000, #263238,#000000);
    color: var(--text-color);
}

section {
    min-height: 85vh;
    padding: 10rem 10% 3rem;

}

section .heading{
    margin: 5rem 0 0.2rem;
}


/*=================== header design ===========================*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:  var(--bg-color);
    border-bottom: 0.2rem var(--text-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.header {
    border-bottom: .2rem solid var(--second-bg-color);
}

.header-icon {
    padding: 1.5rem 1.5rem;
    margin: 0 22rem 0 -2rem;
    cursor: default;
    border: .1rem double var(--main-color);
    border-radius: 50%;
    background-color: var(--second-bg-color);
}

.header-icon h2{
    font-size: 3rem;
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 700;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 3s;
    border: 0.5rem solid var
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
   display: none;
}



/*======================= home design =======================*/

.home {
    display:flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 25vw;
    border-radius: 50%;
    shape-outside: inset(20%);
    margin: 2.5rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h3 span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 2rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.7rem 3rem;
  
}

.social-media a:hover {
    background: var(--main-color);
    border: 1rem solid var(--main-color);
    color:  var(--bg-color);
    box-shadow: 0 0 1.5rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius:  4rem;
    box-shadow:  0 0 1.5rem (--main-color);
    font-size:  1.8rem;
    color: var(--second-bg-color);
    letter-spacing:  .2rem;
    font-weight: 600;
    transition: 5s ease;
}

.btn:hover {
     box-shadow: 0 0 1.5rem var(--main-color);
     transition: .5s ease;
}

/*======================= about design =======================*/


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--send-bg-color);
    
}
.about-img img {
    width: 30vw;
    border-radius: 1.5rem;
    object-fit: cover;
    mix-blend-mode: lighten;
    z-index: 1;
}

.heading {
    text-align: center;
    font-size: 5rem;
}

.about-content h2{
    font-size: 4rem;
    text-align: center;
}

.about-content h2 span {
      color: var(--main-color);
}

.about-content h3 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
}

.about-content p {
    font-size: 2rem;
    margin: 2rem 0 3rem;
}

.about-content .btn{
  text-align: center;
  margin: 1rem 1rem 3rem 28rem;
}

/*======================= education design =======================*/

.education h2 span {
    color: var(--main-color);
}


.education-container{
    margin: 3rem;
    text-align: center;
}
.education-container table {
    width: 100%;
    border: 0.5rem var(--main-color);
} 

.education-container th {
    height: 4rem;
    width: 4rem;
    font-size: 2.2rem;
    background: var(--main-color);
   
}

.education-container td {
    height: 4rem;
    width: 4rem;
    font-size: 1.8rem;
    margin: 1.5rem;
    border: 1px solid var(--main-color);
}

/*======================= experience design =======================*/

.experience {
   text-align: center; 
    justify-content: center;
    align-items: center;
}

.experience h2 span {
    color: var(--main-color);
}

.experience-container  {
    display: flex;
    margin: 1.5rem;
}

.experience-info {
    width: 40%;
    padding: 5rem 7rem;
    margin: 1.3rem;
    border: .2rem solid var(--second-bg-color);
    border-radius: 2rem;
    background: transparent;
    box-shadow: 0 2.5rem 4rem rgba(0,0,00,.5);
}

.experience-info i {
    font-size: 4.5rem;
    color: var(--main-color);
}

.experience-container:hover,
.experience-info:hover
.experience-web:hover{
  transition: .5s ease;
}

.experience-info h3 {
    font-size: 2rem;
    margin:.3rem;
    letter-spacing: 0.2rem;
}

.experience-info p {
   font-size: 1.5rem;
    margin: 1rem;
}

.experience-info p span{
    color: var(--main-color);
   font-size: 1.8rem;
}

.experience-web {
    width: 40%;
    padding: 5rem 7rem;
    margin: 1.3rem;
    border: .2rem solid var(--second-bg-color);
    border-radius: 2rem;
    background:transparent;
    box-shadow: 0 2.5rem 4rem rgba(0,0,00,.5);
}

.experience-web h3 {
    font-size: 2rem;
    margin:.3rem;
    letter-spacing: 0.2rem;
}

.experience-web i {
    font-size: 4.5rem;
    color: var(--main-color);
}
.experience-web p{
    font-size: 1.5rem;
    margin: 1rem;
}

.experience-web p span {
    color: var(--main-color);
    font-size: 1.5rem;
 }

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
}

.experience-info btn:hover {
    display: block;
    box-shadow: 0 0 1.5rem var(--main-color);
    
}

/*======================= skill design =======================*/

.skill-container {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 3rem;
    
}

.skill-view{
    width: 45%;
    color: var(--text-color);
    
}

.skill-view h3{
    font-size: 2.5rem;
    margin: 1.4rem;
}

.skill-view ul{
    font-size: 1.5rem;
    margin: 1.4rem;
}
.skill-view li{
    margin: 1.4rem;
}

.skill h2 span {
        font-size: 5rem;
        color: var(--main-color);
}
    
.skill-progress {
         width: 45%;
         font-size: 1.5rem;
        color: var(--text-color);
    
    }


.skill-progress h3 {
    margin: 1.4rem;
    font-size: 2.5rem;
    color: var(--text-color);
}

.skills-technical{
   margin: 2rem; 
}

.skill-name {
    font-size: 1.5rem;
    font-weight: 400;
    color:  var(--text-color);
}




.skill-bar{
    height: 1rem;
    background: var(--second-bg-color);
    border-radius: 2.6rem;
}


.skill-per{
    height: 2rem;
    background: var(--main-color);
    color: var(--second-bg-color);
    border-radius: 2.6rem;
    position: relative;
    animation: fillBars 2.5s 1;
    
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    color: var(--text-color);
    border-radius: 4px;
    font-size: 12px;
    top: -25px;
    right: 0;
    transform: translateX();
    
   
}

.skill-per::after{
    content: "";
    width: 10px;
    background:  var(--text-color);
    top: -27px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}







/*======================= contact design =======================*/

.contact h2 span{
    color: var(--main-color);
    font-size: 5rem;
}


.contact-form{
   justify-content: space-between;
   align-items: center;
   display: flex;
   margin: 5rem 8rem;
}

.contact-field{
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 3rem;
    
}

.contact-form h3{
    font-weight: 600;
    color: var(--text-color);
    font-size: 1.9rem;
    margin-bottom: -1rem;
}

.contact-field hr{
    border: none;
    width: 8rem;
    height: .4rem;
    background: var(--main-color);
    border-radius: 3rem;
    margin-bottom: 2rem;
}

.contact-field .btn{
    width: 10.5rem;
}

.contact-field .btn i {
    color: var(--second-bg-color);
}

.input-form{
    width: 40rem;
    height: 6rem;
    background: transparent;
    border-bottom: 0.3rem solid var(--main-color);
    color: var(--second-bg-color);
    border-radius: 2rem;
}

.contact-field textarea{
   scrollbar-width:none ;
    outline: none;
    width: 40rem;
    height: 18rem;
    border-radius: 3rem;


}

.input-form:focus{
    border: 0.3rem outset var(--main-color);
}

.input-form::placeholder{
    color: var(--text-color);
    padding: 3rem;
    
}


.contact-icon{
    width: 40%;
    padding: 1rem 0 10rem;
    
}
.contact-name{
    width: 100%;
    background: transparent;
    float: left;
    color:var(--text-color);
    font-size: 1.7rem;
    padding-left: 4rem;

}

.contact-name i {
    right: 1rem;
    transform: translateX(-50%);
    top: 50%;
    font-size: 3.5rem;
    color: var(--main-color);
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    padding: 1.2rem;
    margin: 6rem -1.5rem;
}

.contact-name p{
    margin-top: -10.2rem;
    padding-left: 3rem;
}



/*======================= final design =======================*/

.final {
   height: 35vh;
   margin: 6rem 0 0.2rem;
   background: #1a1919;
    border-top: 0.2rem solid var(--main-color);
}

.final-footer {
    display: flex;
    justify-content: space-between;
}

.final-footer p {
    color: var(--second-bg-color);
    font-size: 3rem;
    margin: 1.2rem;
    text-align: center;
}

.final-footer a{
    text-decoration: none;
    color: #403d3d;
    font-size: 1.5rem;
    margin: 1rem;
}

.final-footer a:hover{
    color: var(--text-color);
}

.final-footer iframe {
    margin: 2rem;
    border-radius: 3rem;
}


/*======================= footer design =======================*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    padding: 1.9rem 10%;
    background: var(--second-bg-color)
    
}

.footer-text p {
    font-size: 1.2rem;
}

.footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color); 
    border-radius: .8rem;
    float: left;
}

.footer-icon a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}






